.mainsection {
  padding: size(16);

  @include breakpoint(mobile576) {
    padding: size(24);
  }

  @include breakpoint(mobile768) {
    padding: size(32);
  }

  @include breakpoint(tab992) {
    padding: size(40);
    margin-left: size(250);
  }

  .dashleftcontent {
    @include flex-column;
    gap: size(24);

    .welcomecard {
      background: $white;
      @include radius(10);
      filter: $cardshadow;
      @include flex-center-between;
      gap: size(48);
      padding: size(20);

      &-content {
        @include flex-column;
        gap: size(12);

        .welcometext {
          @include flex-center-vert;
          align-items: flex-start;
          gap: size(4);
          flex-wrap: wrap;

          .text {
            color: $dropdownbg;
            font-size: size(17);
            font-family: $interFont;
            font-weight: 600;

            @include breakpoint(desktop1400) {
              font-size: size(28);
            }
          }

          .name {
            color: $dashprimary;
            font-size: size(17);
            font-family: $interFont;
            font-weight: 600;

            @include breakpoint(desktop1400) {
              font-size: size(28);
            }
          }
        }
  
        .infotext {
          color: $dropdownbg;
          font-family: $interFont;
          font-size: size(14);

          @include breakpoint(desktop1400) {
            font-size: size(16);
          }
        }
  
        .authorinfo {
          @include flex-end;

          .authorname {
            color: $textMute;
            font-family: $interFont;
            font-size: size(13);
          }
        }
      }
  
      &-profile {
        @include square(130);
        @include flex-center;
        @include radius(10);
        overflow: hidden;

        img {
          @include wh100;
          object-fit: cover;
        }
      }
    }
  
    .profileimpression {
      background: $white;
      @include radius(10);
      @include flex-column;
      gap: size(20);
      padding: size(20);

      &-header {
        @include flex-column;
        gap: size(4);
        
        .title {
          font-family: $secondaryFont;
          font-size: size(18);
          color: $dropdownbg;
        }
  
        .textimpress {
          font-family: $interFont;
          font-size: size(13);
          color: $textcolor;
        }
      }
      
      &-body {
  
      }
    }
  }
  
  .dashrightcontent {
    @include flex-column;
    gap: size(24);

    .profilecompletion,
    .todayschedule,
    .cardview {
      background: $white;
      @include radius(10);
      filter: $cardshadow;
      padding: size(20);
    }
  
    .profilecompletion {
      @include flex-column;
      gap: size(5);

      .profilecom-header {
        @include flex-center-between;

        .title {
          color: $dropdownbg;
          font-family: $secondaryFont;
          font-size: size(16);
          font-weight: 600;
        }
  
        .textcomplete {
          color: $dropdownbg;
          font-family: $interFont;
          font-size: size(12);
          font-weight: 300;
        }
      }
  
      .profilecom-body {
        @include flex-column;
        gap: size(10);

        .progress {
          height: size(10);
          background: $progressbg;
          @include radius(10);

          &-bar {
            background: $dashprimary;
            @include radius(10);
          }
        }
  
        .text {
          color: $dropdownbg;
          font-family: $interFont;
          font-size: size(12);
          font-weight: 300;
        }
      }
    }
  
    .todayschedule {
      @include flex-column;
      gap: size(15);

      &-header {
        .title {
          font-family: $secondaryFont;
          font-weight: 600;
          font-size: size(18);
          color: $dropdownbg;
        }
      }
  
      &-list {
        @include list-vertical;
        gap: size(20);

        &-item {
          background: $white;
          @include border(solid, 1, $cardborder);
          @include radius(10);
          cursor: pointer;
          @include flex-column;
          gap: size(4);
          padding: size(12);
          @include transitionsall;

          .time {
            color: $dropdownbg;
            font-family: $interFont;
            font-size: size(12);
            font-weight: 300;
          }
  
          .name {
            color: $dropdownbg;
            font-family: $interFont;
            font-size: size(16);
            font-weight: 600;
          }
  
          .location {
            color: $dropdownbg;
            font-family: $interFont;
            font-size: size(12);
            font-weight: 300;
          }
  
          &:hover:not(.active) {
            background: $dashprimary;
            border-color: $dashprimary;

            .time,
            .name,
            .location {
              color: $white;
            }
          }
  
          &.active {
            background: $dashprimary;
            border-color: $dashprimary;

            .time,
            .name,
            .location {
              color: $white;
            }
          }
        }
      }
    }
  
    .viewbox {
      @include flex-column;
      gap: size(24);

      .cardview {
        @include flex-center-between;

        .icon {
          background: rgba($dashprimary, 0.2);
          @include square(64);
          @include circle;
          @include flex-center;
          padding: size(10);

          svg {
            @include wh100;
          }
        }
  
        .detail {
          text-align: right;
          @include flex-column;
          gap: size(4);

          .title {
            color: $black;
            font-family: $interFont;
            font-size: size(16);
            font-weight: 600;
          }
  
          .counter {
            color: $black;
            font-family: $interFont;
            font-size: size(20);
            font-weight: 300;
          }
        }
      }
    }
  }  
}