.notifications {
  @include flex-column;
  gap: size(20);

  &-header {
    padding-bottom: size(10);
    @include border-single(bottom, solid, 2, $dashprimary);
    @include flex-center-between;
    flex-wrap: wrap;
    gap: size(10);

    .titlebox {
      @include flex-center-vert;
      gap: size(12);

      .title {
        font-family: $secondaryFont;
        font-size: size(20);
        text-transform: uppercase;
      }

      .counter {
        width: size(40);
        height: size(28);
        @include radius(8);
        @include setBgColor(rgba($dashprimary, 0.2), $dashprimary);
        @include flex-center;
        font-family: $interFont;
        font-size: size(14);
        font-weight: 500;
        padding: size(4);
        text-align: center;
      }
    }

    .filternotification {
      position: relative;

      .mx-input-wrapper {
        .mx-input {
          border: 0;
          @include setBgColor($white, $black);
          @include radius(10);
          filter: $cardshadow;
          font-size: size(14);

          &::placeholder {
            color: $pendingText;
          }
        }

        .mx-icon-calendar {
          color: $dashprimary;
        }
      }
    }
  }

  &-body {
    @include flex-column;
    gap: size(40);

    .notification-info {
      @include flex-column;
      gap: size(20);

      .title {
        font-family: $secondaryFont;
        font-size: size(16);
        font-weight: 600;
      }

      .notificationlist {
        @include list-vertical;
        gap: size(20);

        &-item {
          @include flex-center-vert;
          gap: size(20);
          background: $white;
          @include radius(10);
          filter: $cardshadow;
          overflow: hidden;
          padding: size(14);

          .icon {
            @include flex-center;
            overflow: hidden;

            svg {
              @include wh100;
            }
          }
          
          .descript {
            @include flex-center-between;
            gap: size(5);
            width: calc(100% - size(38));
            flex-wrap: wrap;

            @include breakpoint(tab992) {
              gap: size(20);
              flex-wrap: nowrap;
            }

            button {
              background: transparent;
              @include w100;
              @include flex-center-vert;
              gap: size(20);
  
              @include breakpoint(tab992) {
                width: calc(100% - size(160));
              }

              .icon {
                @include transitiontransform;
              }

              &:not(.collapsed) {
                .icon {
                  @include transform(rotateX(180deg));
                }
              }
            }

            .timebox {
              @include breakpoint(tab992) {
                width: size(160);
                @include flex-end;
                text-align: right;
              }
            }

            .message,
            .notifytime {
              font-size: size(14);
            }

            .message {
              color: $dropdownbg;
            }

            .notifytime {
              color: $pendingText;
            }
          }
        }

        .card {
          @include setBgColor(rgba($white, 0.5), $black);
          border: 0;
          @include radius(10);
          font-size: size(13);

          .text,
          .info {
            color: $black;
            font-family: $interFont;
            font-size: inherit;
          }
        }
      }
    }
  }
}