.offcanvas {
  min-height: 100vh;
  width: length(304);

  &-top {
    border-bottom: none;
  }
  
  &-bottom {
    border-top: none;
  }
  
  &-start {
    border-right: none;
    background: $headerBg;
    box-shadow: $head-shadow;
  }
  
  &-end {
    border-left: 0;
  }

  &-header {
    .btn-close {
      background: rgba($white, 0.05);
      @include square(length(20));
      @include flex-center;
      @include circle;
      opacity: 1;

      &:focus {
        outline: none;
        box-shadow: none;
      }
      
      svg {
        @include wh100;

        path {
          fill: $gray-500;
          @include transitionsall;
        }
      }

      @include hover {
        svg {
          path {
            fill: $primary;
          }
        }
      }
    }
  }

  &-body {
    .mobilelist {
      @include list-vertical;
      gap: length(8);

      &-link {
        @include border-single(bottom, solid, 1, $gray-300);
        color: $gray-300;
        display: inline-block;
        @include font-face($primaryFont, style('normal'), size(14), weight('bold'), line-height(19.6, 14));
        @include w100;
        padding: length(8) length(0);
        text-transform: uppercase;

        &:hover:not(.nuxt-link-exact-active) {
          border-color: $primary;
          color: $primary;
        }

        &.nuxt-link-exact-active {
          border-color: $primary;
          color: $primary;
        }
      }
    }

    .sidemobile {
      @include flex-column;
      gap: size(20);

      .topcontent {
        @include flex-column;
        gap: size(20);
  
        .user-content {
          @include flex-center-vert;
          gap: size(12);
          padding-bottom: size(20);
          @include border-single(bottom, solid, 1, $gray-700);
  
          .avatar {
            @include square(40);
            @include circle;
            @include flex-center;
            overflow: hidden;
  
            img {
              @include wh100;
              object-fit: contain;
            }
          }
  
          .detail {
            .name,
            .email {
              font-family: $interFont;
            }
  
            .name {
              color: $lightText;
              font-size: size(18);
            }
  
            .email {
              color: lighten($dropdownbg, 8%);
              font-size: size(14);
            }
          }
        }
  
        .dashboardlist {
          @include list-vertical;
          
          &-link {
            @include radius(10);
            @include flex-center-vert;
            gap: size(14);
            padding: size(10) size(12);
            @include transition($time ease);
  
            .icon {
              @include square(18);
              @include flex-center;
              overflow: hidden;
  
              svg {
                @include wh100;
              }
            }
  
            .text {
              color: $lightText;
              font-size: size(15);
              font-family: $primaryFont;
            }
  
            &:hover:not(.nuxt-link-active) {
              background: rgba($white, 0.2);
            }
  
            &.nuxt-link-active {
              background: rgba($white, 0.2);
            }
          }
        }
      }
  
      .userlist {
        margin-top: auto;
        list-style: none;
  
        &-link {
          @include flex-center-vert;
          gap: size(14);
          padding: size(10) size(12);
          text-decoration: underline;
          @include transition($time ease);
  
          .icon {
            @include square(18);
            @include flex-center;
            overflow: hidden;
  
            svg {
              @include wh100;
            }
          }
  
          .text {
            color: $lightText;
            font-size: size(14);
            font-family: $primaryFont;
          }
  
          &:hover:not(.nuxt-link-active) {
            text-decoration: none;
  
            .text {
              color: $dashprimary;
            }
          }
  
          &.nuxt-link-active {
            text-decoration: none;
  
            .text {
              color: $dashprimary;
            }
          }
        }
      }
    }
  }
}