.pending {
  background: $iconbg;
  @include w100;
  // min-height: calc(100vh - size(60));
  min-height: 100vh;
  padding: size(20);
  @include flex-center-column;
  gap: size(48);
  
  @include breakpoint(mobile768) {
    padding: size(48);
  }

  .topdetails {
    @include flex-center-column;
    gap: size(20);

    .icon {
      background: $iconbg;
      @include radius(25);
      width: size(200);
      @include flex-center;
      padding: size(24);
  
      @include breakpoint(mobile768) {
        width: size(250);
        height: size(170);
      }
    }

    .details {
      @include flex-center-column;
      gap: size(12);
      text-align: center;

      .title {
        color: $darkText;
        font-size: size(16);
        font-weight: 400;
  
        @include breakpoint(mobile768) {
          font-size: size(20);
        }

        @include breakpoint(tab992) {
          font-size: size(24);
        }
      }

      .text {
        color: $pendingText;
        font-size: size(12);
        font-weight: 400;
  
        @include breakpoint(mobile768) {
          font-size: size(14);
        }
  
        @include breakpoint(tab992) {
          font-size: size(16);
        }
      }
    }
  }

  .callinfo {
    @include flex-center;
    @include w100;

    .callbox {
      position: relative;
      @include flex-center-column;
      width: size(300);
      height: size(90);
      background: $coffeebg;
      @include radius(25);

      .icon {
        position: absolute;
        top: 50%;
        left: 0;
        @include transform(translateY(-50%));
        @include square(size(80));
        @include flex-center;
        overflow: hidden;
        left: size(-20);
        @include square(size(120));

        @include breakpoint(tab992) {
          left: size(-60);
        }

        svg {
          @include  wh100;
        }
      }

      .details {
        @include flex-center-column;
        margin-left: auto;
        padding: size(0) size(20) size(0) size(112);
        text-align: center;

        @include breakpoint(tab992) {
          padding: size(0) size(20) size(0) size(32);
        }

        .title {
          color: $titletext;
          font-size: size(16);

          @include breakpoint(tab992) {
            font-size: size(20);
          }
        }
        
        .divider {
          @include w100;

          svg {
            @include wh100;
          }
        }

        .phonenumber {
          color: $titletext;
          font-size: size(16);

          @include breakpoint(tab992) {
            font-size: size(20);
          }
        }
      }
    }
  }
}