@use "../../global" as *;
@use "../../partials" as *;

.tooltip {
  &-inner {
    background: $dropdownbg;
    font-size: size(12);
  }

  &.bs-tooltip-auto[data-popper-placement^="top"] {
    .tooltip-arrow {
      &::before {
        border-top-color: $dropdownbg;
      }
    }
  }

  &.bs-tooltip-auto[data-popper-placement^="bottom"] {
    .tooltip-arrow {
      &::before {
        border-bottom-color: $dropdownbg;
      }
    }
  }

  &.bs-tooltip-auto[data-popper-placement^="left"] {
    .tooltip-arrow {
      &::before {
        border-left-color: $dropdownbg;
      }
    }
  }

  &.bs-tooltip-auto[data-popper-placement^="right"] {
    .tooltip-arrow {
      &::before {
        border-right-color: $dropdownbg;
      }
    }
  }
}
