@use '../../global' as *;
@use '../../partials' as *;

.form-control,
.form-select {
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.form-control.is-invalid, .was-validated .form-control:invalid {
  box-shadow: none;
  
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.form-item {
  position: relative;
  margin-bottom: size(15);

  input {
    display: block;
    min-width: size(300);
    max-width: size(400);
    height: size(40);
    background: transparent;
    border: solid 1px #ccc;
    @include border(solid, 1, #ccc);
    transition: all .3s ease;
    padding: 0 size(15);

    &:focus{
      border-color: blue
    }
  }

  input, label {
    position: absolute;
    cursor: text;
    z-index: 2;
    top: 13px;
    left: 10px;
    font-size: 12px;
    font-weight: bold;
    background: #fff;
    padding: 0 10px;
    color: #999;
    transition: all .3s ease
  }

  input:focus + label,
  input:valid + label {
    font-size: 11px;
    top: -5px
  }

  input:focus + label{
    color: blue
  }
}

.form-check {
  margin: size(0);

  &-input {
    background-color: $textgray;
    border-color: $textgray;
    
    &:focus {
      outline: none;
      box-shadow: none;
    }

    &:not(:checked)[type=checkbox] {
      --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
      background-image: var(--bs-form-switch-bg);
      background-color: $textgray;
      border-color: $textgray;
    }
  }


}

.form-switch {
  padding: size(0);

  .form-check-input {
    cursor: pointer;
    margin: size(0);
    width: size(55);
    height: size(28);
    --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
    background-image: var(--bs-form-switch-bg);
  
    &:checked {
      background-color: $hamburgerbg;
      border-color: $hamburgerbg;
    }
  }
}