// DEFAULT COLORS
$bodybg: hsl(0, 3%, 94%); //#EFEEEE
$white: hsl(0, 0%, 100%); //#ffffff
$black: hsl(0, 0%, 0%); //#000000

// THEME-COLORS

// BACKGROUND-COLORS
$dropdownbg: hsl(226, 20%, 20%); //#292E3E
$hamburgerbg: hsl(5, 86%, 56%); //#F04130
$headerbg: hsl(0, 3%, 6%); //#0F0E0E
$lightdark: hsl(214, 28%, 15%); //#1B2430
$lightbg: hsl(0, 0%, 94%); //#F0F0F0
$contactbg: hsl(0, 23%, 16%); //#332020
$activeweek: hsl(30, 2%, 18%); //#302F2E
$progressbg: hsl(0, 0%, 85%); //#D9D9D9

$successbg: hsl(137, 55%, 55%); //#4ECB71
$graybg: hsl(0, 0%, 77%); //#C4C4C4

// ICON-BACKGROUNDS


// TEXT-COLORS
$textprimary: hsl(231, 15%, 24%); //#343747
$darktext: hsl(0, 0%, 10%); //#191919
$linkcolor: hsl(220, 2%, 68%); //#ADAEB0
$textgray: hsl(0, 0%, 63%); //#A1A1A1
$contactcolor: hsl(0, 16%, 82%); //#D9CACA
$authortext: hsl(233, 3%, 50%); //#7C7D84
$textimpression: hsl(0, 7%, 52%); //#8C7B7B
$selectcolor: hsl(0, 3%, 17%); //#2D2A2A

// SUCCESS COLOR


// DANGER COLOR
$dangercolor: hsl(343, 79%, 50%); //#E31B54
$red: hsl(1, 71%, 54%); //#dd3936

// LINEAR-BACKGROUNDS


// BORDER-COLORS


// SHADOWS
$shade-1: rgba(72, 75, 137, 0.2);

// BOX-SHADOWS
$cardshadow: .25rem .25rem 1rem .1875rem $shade-1;


// LETTER-SPECING
$specing-1: size(0.24);

// ANIMATION VARIABLES
$sidebarcollapse: cubic-bezier(1.000, 0.335, 0.890, 0.825);