.customselect {
  .dropd {
    &-toggle {
      background: $dashprimary;
      padding: size(6) size(12);
      @include radius(5);
      width: size(130);

      .dropd-caret {
        color: $white;
        @include square(size(12));
      }
    }

    &-current {
      font-size: size(12);
      font-weight: 600;
      color: $white;
      text-transform: uppercase;
    }

    &-list {
      width: size(160);
      @include radius(5);
      background: $progressbg;
      border: 0;
      margin: 0;
      padding: size(5);
      min-width: size(130);
      max-width: size(130);
      top: size(46);

      .dropd-item {
        color: $optionText;
        @include radius(5);
        text-align: center;

        @include hover {
          @include setBgColor($dashprimary, $white);
        }
      }

      .dropd-link {
        padding: size(8) size(16);
        font-size: size(12);
        text-transform: uppercase;
      }

      &.open {
        box-shadow: none;
        transform: none;
      }
    }
  }
}