/**=====================================================**
                    THEME-COLORS
=======================================================**/
$primary: hsl(0, 100%, 64%); //#ff4545
$secondary: hsl(0, 0%, 20%); //#333333
$darkPrimary: hsl(200, 6%, 9%); //#161819
$lightDark: hsl(204, 6%, 17%); //#292C2D
$darkText:hsl(220, 43%, 11%); //#101828

$dashprimary: hsl(5, 86%, 56%); //#F04130

/**=====================================================**
                    TEXT-COLORS
=======================================================**/

$headerLinkColor: hsl(0, 0%, 62%); //#9D9D9D
$textGray: hsl(0, 0%, 77%); //#C4C4C4
$textPlaceholder: hsl(240, 6%, 73%); //#B5B5BD
$subscribePlaceholder: hsl(210, 6%, 51%); //#7A828A
$textLabel: hsl(210, 21%, 33%); //#425466
$yellow: hsl(45, 94%, 49%); //#F2B807

$gray-100:hsl(204, 45%, 98%); //#F7FAFC
$gray-200:hsl(210, 38%, 95%); //#EDF2F7
$gray-300:hsl(214, 32%, 91%); //#E2E8F0
$gray-500:hsl(214, 20%, 69%); //#A0AEC0
$gray-600:hsl(216, 15%, 52%); //#718096
$gray-700:hsl(218, 17%, 35%); //#4A5568
$gray-800:hsl(218, 23%, 23%); //#2D3748

$pendingText: hsl(0, 0%, 63%); //#A1A1A1

/**=====================================================**
                    BACKGROUND-COLORS
=======================================================**/
$bodyBg: hsl(0, 0%, 96%); //#f5f5f5
$activeBg: hsl(155, 77%, 42%); //#18BD78
$headerBg: hsl(228, 7%, 13%); //#1f2024


$footerbg: hsl(0, 0%, 9%); //#161616
$lightGrayBackground: hsl(0, 0%, 95%); //#F1F1F1
$darkGrayBg: hsl(0, 0%, 86%); //#DCDCDC
$cardHeaderBg: hsl(0, 0%, 95%); //#F2F2F2

$serviceBg: hsl(212, 100%, 97%); //#F2F8FF
$aboutBg: hsl(51, 100%, 97%); //#FFFDF2
$caseStudyBg: hsl(0, 8%, 95%); //#F4F2F2
$btnbg: rgba(244, 209, 209, 0.5);
$bannericonbg: hsl(51, 100%, 96%); //#FFFCEA
$caseStudyBannerBg: hsl(226, 100%, 94%); //#E1E8FF


$bannerBg: rgba(252, 222, 8, 0.05);
$bannerBg-2: rgba(255, 219, 204, 0.3);
$bannerBg-3: rgba(180, 220, 98, 0.08);


$expartBg: hsl(225, 100%, 98%); //#F7F9FF
$professionalBg: hsl(53, 100%, 98%); //#FFFEF7
$transparencylBg: hsl(255, 100%, 98%); //#F9F7FF


$thumb1-bg: hsl(48, 91%, 48%); //#EBBE0B
$thumb2-bg: hsl(18, 81%, 48%); //#DD5117
$thumb3-bg: hsl(80, 64%, 62%); //#B4DC62


$facebookbg: hsl(221, 44%, 41%); //#3b5998
$twitterbg: hsl(197, 100%, 47%); //#00acee
$instagrambg: hsl(207, 42%, 43%); //#3f729b
$linkedinbg: hsl(201, 100%, 35%); //#0072b1

$dropdownbg: hsl(226, 20%, 20%); //#292E3E
$lightText: hsl(220, 2%, 68%); //#ADAEB0
$textMute: hsl(233, 3%, 50%); //#7C7D84
$progressbg: hsl(0, 0%, 85%); //#D9D9D9

$optionText: hsl(0, 3%, 17%); //#2D2A2A

$coffeebg: hsl(0, 23%, 16%); //#332020
$iconbg: hsl(0, 0%, 94%); //#F0F0F0

$titletext: hsl(0, 16%, 82%); //#D9CACA
$textcolor: hsl(0, 7%, 52%); //#8C7B7B

/**=====================================================**
                    BORDER-COLORS
=======================================================**/
$border-1: hsl(0, 0%, 98%); //#FBFBFB
$footerBorder: hsl(0, 1%, 39%); //#636262
$headerBorder: hsl(0, 0%, 93%); //#eeeeee
$cardborder: rgba(41, 46, 62, 0.5);

/**=====================================================**
                    NORMAL-COLORS
=======================================================**/
$black: hsl(0, 0%, 0%); //#000000
$white: hsl(0, 0%, 100%); //#ffffff

/**=====================================================**
                    GRADIENT-COLORS
=======================================================**/
$color-1: hsl(210, 25%, 98%); //#FAFBFC
$color-2: hsl(216, 16%, 94%); //#EDEFF2
$color-3: hsl(218, 16%, 86%); //#D7DBE2
$color-4: hsl(222, 16%, 85%); //#D1D5DE

/**=====================================================**
                    GRADIENT-BACKGROUNDS
=======================================================**/
$technologyBg: linear-gradient(180deg, $white 0%, $color-1 28.37%, $color-2 59.78%, $color-3 92.52%, $color-4 100%);

/**=====================================================**
                        SHADOWS
=======================================================**/
$shadow-1: rgba(12, 26, 75, 0.24);
$shadow-2: rgba(50, 50, 71, 0.05);
$shadow-3: rgba(12, 26, 75, 0.1);
$shadow-4: rgba(20, 37, 63, 0.06);
$shadow-5: rgba(50, 50, 71, 0.08);

/**=====================================================**
                        BOX-SHADOWS
=======================================================**/
$box-shadow-1: 0 0 .0625rem $shadow-1, 0 .1875rem .5rem -0.0625rem $shadow-2;
$box-shadow-2: 0 .1875rem .5rem -0.0625rem $shadow-2;
$drop-shadow-1: drop-shadow(0 0 .0625rem $shadow-1);
$close-shadow: 0 0 .0625rem $shadow-3, 0 .625rem 1rem $shadow-4;

$tab-shadow: 0 .25rem 1.25rem -0.125rem $shadow-5;
$tab-shade: drop-shadow(0 0 .0625rem $shadow-3);
$header-shadow: 0 0 .625rem 0 rgba($black, 0.1);

$head-shadow: 0 .0625rem .25rem 0 rgba($black, 0.1);

$cardshadow: drop-shadow(0 .25rem .25rem rgba($black, 0.25));

/**=====================================================**
                        TEXT-SHADOWS
=======================================================**/


/**=====================================================**
                    TIMING-VARIABLES
=======================================================**/
$time: 200ms;