.errorbox {
  background: $white;
  @include w100;
  @include flex-column;
  
  @include breakpoint(mobile768) {
    align-items: center;
    justify-content: center;
  }
  
  @include breakpoint(desktop1100) {
    height: 100vh;
  }
  
  .icon {
    @include square(size(300));
    position: relative;
    @include flex-center-column;
    margin-inline: auto;
    overflow: hidden;

    @include breakpoint(mobile576) {
      @include square(size(400));
    }

    @include breakpoint(desktop1100) {
      @include square(size(500));
    }

    h5 {
      position: absolute;
      bottom: size(36);
      text-align: center;

      @include breakpoint(mobile576) {
        bottom: size(56);
      }
    }
  }
}