@use "../global" as *;
@use "../partials" as *;

.postform {
  .postimage {
    background: $white;
    @include border(solid, 1, rgba($dropdownbg, 0.2));
    @include radius(6);
    padding: size(8) size(16);
    @include flex-center-between;
    gap: size(8);

    &-filename {
      @include flex-center-vert;
      gap: size(14);
      width: calc(100% - size(32));

      .icon {
        @include square(43);
        @include flex-center;
        overflow: hidden;

        svg {
          @include wh100;
        }
      }
      
      .fileinfo {
        @include flex-center-vert;
        gap: size(14);
        width: calc(100% - size(57));
        
        .filename {
          color: $textgray;
          @include font($primaryFont, 14, normal, normal, 19.6);
        }
        
        .btn-remove {
          @include square(24);
          @include circle;
          overflow: hidden;
          display: none;

          svg {
            @include wh100;
          }
        }
      }
    }

    .btn-upload {
      cursor: pointer;
      @include square(24);
      @include flex-center;
      overflow: hidden;

      svg {
        @include wh100;
      }
    }

    &.is-active {
      background: $activebg;
      border-color: $lightbg;

      .postimage-filename {
        .fileinfo {         
          .filename {
            color: $hamburgerbg;
            text-decoration: underline;
          }
          
          .btn-remove {
            @include flex-center;
          }
        }
      }
    }
  }

  .upload-thumbnail {
    @include radius(5);
    @include w100;
    height: size(150);
    overflow: hidden;
  
    img {
      @include wh100;
    }
  }
}

.ck-editor {
  @include radius(6);
}

.ck-content {
  min-height: size(200);
}

.ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
  border-color: rgba($dropdownbg, 0.2);
  @include transitionsall;
}

.ck.ck-editor__editable.ck-focused:not(.ck-editor__nested-editable) {
  border-color: $graybg;
}

.ck-rounded-corners .ck.ck-editor__main>.ck-editor__editable, .ck.ck-editor__main>.ck-editor__editable.ck-rounded-corners {
  padding: size(16);
}

.swal2-styled.swal2-cancel {
  border: 0 !important;
  background: transparent !important;
  color: $hamburgerbg !important;
  @include font($primaryFont, 14, semibold, normal, 19.6);
  outline: none;
  
  @include hover {
    color: $dangercolor !important;
  }

  &:focus {
    box-shadow: none;
    outline: none;
  }
}

.swal2-title {
  color: $dropdownbg;
  @include font($primaryFont, 20, normal, normal, 28);
}

.swal2-html-container {
  color: $alertcolor;
  @include font($primaryFont, 14, normal, normal, 19.6);
}