@use "../global" as *;
@use "../partials" as *;

.blog {
  @include flex-column;
  gap: size(40);

  &-header {
    @include border-single(bottom, solid, 2, $hamburgerbg);
    padding-bottom: size(10);
    @include flex-column;
    gap: size(12);

    @include breakpoint(mobile576) {
      flex-direction: row;
      justify-content: space-between;
    }

    .title-box {
      @include flex-center-vert;
      gap: size(12);

      .blog-title {
        color: $dropdownbg;
        font-weight: 600;
        text-transform: uppercase;
      }

      .blog-badge {
        @include setBgColor(rgba($hamburgerbg, 0.2), $hamburgerbg);
        @include radius(8);
        @include font($primaryFont, 14, normal, normal, 19.6);
        @include flex-center;
        width: size(40);
        height: size(28);
        text-align: center;
      }
    }
    
    .rightinfo {
      @include flex-center-vert;
      gap: size(20);

      .btn-search {
        background: $hamburgerbg;
        @include radius(5);
        @include square(36);
        @include flex-center;
      }

      .addpost {
        .btn-add {
          @include flex-center;
          gap: size(8);
          @include setBgColor($hamburgerbg, $white);
          @include radius(5);
          height: size(36);
          padding: size(5);

          .text {
            color: inherit;
            @include font($primaryFont, 10, bold, normal, 14);
            text-transform: uppercase;

            @include breakpoint(mobile768) {
              font-size: size(12);
            }
        
            @include breakpoint(tab992) {
              font-size: size(14);
            }
          }
        }
      }
    }

    .btn-publish,
    .btn-update {
      @include font($primaryFont, 12, bold, normal, 16.8);
      text-transform: uppercase;
      @include radius(5);
      text-align: center;
      padding: size(8) size(14);
  
      @include breakpoint(tab992) {
        font-size: size(14);
        padding: size(8) size(24);
      }
    }    

    .btn-publish {
      @include setBgColor($successbg, $white);
    }

    .btn-update {
      @include setBgColor($hamburgerbg, $white);
    }
  }

  &-body {
    @include flex-column;
    gap: size(20);
  }

  &-footer {
    @include flex-center;
  }
}

.blogsearch {
  // margin-top: size(-32);

  .searchform {
    @include flex-center-vert;
    background: $white;
    @include radius(6);

    .btn-search {
      @include square(40);
      @include radius(6);
      @include flex-center;
      background: $hamburgerbg;
    }

    .mysearches {
      width: calc(100% - size(40));
      height: size(40);

      .searchfield {
        background: transparent;
        @include wh100;
        padding: size(8) size(16);
        font-size: size(14);
      }
    }
  }
}