@use "../global" as *;
@use "../partials" as *;

.feedbackform {
  background: $white;
  @include radius(10);
  padding: size(16);
  @include flex-column;
  gap: size(32);
  
  @include breakpoint(tab992) {
    padding: size(24);
  }

  &-header {
    @include flex-column;
    gap: size(16);

    .feedback-title {
      color: $dropdownbg;

      span {
        color: $hamburgerbg;
      }
    }

    .feedbackinfo {
      @include breakpoint(tab992) {
        max-width: 75%;
      }
    }
    
    .feedback-text {
      color: $dropdownbg;
    }
  }

  &-body {
    @include flex-column;
    gap: size(32);

    .inputbox {
      @include flex-column;
      gap: size(8);
    }
  }
}