@use "../../global" as *;
@use "../../partials" as *;

.mainsection {
  @include w100;
  min-height: 100vh;
  padding: size(32) size(20);
  @include transition(width $time $sidebarcollapse);
  
  @include breakpoint(tab992) {
    padding: size(40);
    width: calc(100% - size(250));
    margin-left: auto;
  }

  &.collapsed-main {
    width: calc(100% - size(80));
  }
}

.myprofile {
  min-height: 100vh;
  
  @include breakpoint(tab992) {
    width: calc(100% - size(250));
    margin-left: auto;
  }
  
  &.collapsed-main {
    width: calc(100% - size(80));
  }
}
