/**=======================================================**
                    DASHBOARD-SIDEBAR START
**=======================================================**/

.dashboard-sidebar {
  background: $darkPrimary;
  position: fixed;
  width: size(250);
  height: 100vh;
  transition: $time;
  z-index: 1111;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding: size(0) size(20);
  display: none;

  @include breakpoint(tab992) {
    @include flex-column;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  .aside-header {
    background: $darkPrimary;
    @include flex-center-vert;
    gap: size(24);
    height: size(60);
    padding: size(8) 0;
    position: sticky;
    top: 0;

    .logo {
      width: size(136);
      height: size(27);
      @include flex-center;
      overflow: hidden;
  
      img {
        @include wh100;
        object-fit: contain;
      }
    }
  }

  .aside-body {
    padding: size(32) 0;
    @include flex-column;
    gap: size(20);
    height: calc(100vh - size(60));

    .topcontent {
      @include flex-column;
      gap: size(20);

      .user-content {
        @include flex-center-vert;
        gap: size(12);
        padding-bottom: size(20);
        @include border-single(bottom, solid, 1, $gray-700);

        .avatar {
          @include square(40);
          @include circle;
          @include flex-center;
          overflow: hidden;

          img {
            @include wh100;
            object-fit: contain;
          }
        }

        .detail {
          .name,
          .email {
            font-family: $interFont;
          }

          .name {
            color: $lightText;
            font-size: size(18);
          }

          .email {
            color: lighten($dropdownbg, 8%);
            font-size: size(14);
          }
        }
      }

      .dashboardlist {
        @include list-vertical;
        gap: size(2);
        
        &-link {
          @include radius(10);
          @include flex-center-vert;
          gap: size(14);
          padding: size(10) size(12);
          @include transition($time ease);

          .icon {
            @include square(18);
            @include flex-center;
            overflow: hidden;

            svg {
              @include wh100;
            }
          }

          .text {
            color: $lightText;
            font-size: size(15);
            font-family: $primaryFont;
          }

          &:hover:not(.nuxt-link-active) {
            background: rgba($white, 0.2);
          }

          &.nuxt-link-active {
            background: rgba($white, 0.2);
          }
        }
      }
    }

    .userlist {
      margin-top: auto;
      list-style: none;

      &-link {
        @include flex-center-vert;
        gap: size(14);
        padding: size(10) size(12);
        text-decoration: underline;
        @include transition($time ease);

        .icon {
          @include square(18);
          @include flex-center;
          overflow: hidden;

          svg {
            @include wh100;
          }
        }

        .text {
          color: $lightText;
          font-size: size(14);
          font-family: $primaryFont;
        }

        &:hover:not(.nuxt-link-active) {
          text-decoration: none;

          .text {
            color: $dashprimary;
          }
        }

        .nuxt-link-active {
          text-decoration: none;

          .text {
            color: $dashprimary;
          }
        }
      }
    }
  }

  &.active {
    width: size(80);

    .aside-header {
      .logo {
        display: none;
      }
    }

    .aside-body {
      .topcontent {
        @include flex-center-column;
        gap: size(20);

        .user-content {  
          .detail {
            display: none;
          }
        }
  
        .dashboardlist {
          @include list-vertical;

          &-link {
            padding: 0;

            .icon {
              @include square(size(40));
              @include radius(10);
              @include flex-center;
              padding: size(12);
              @include transition($time ease);
            }

            .text {
              display: none;
            }
              
            &:hover:not(.active) {
              background: transparent;

              .icon {
                background: rgba($white, 0.2);

                svg {
                  background: transparent;
                }
              }
            }
          }
        }
      }
  
      .userlist {
        &-link {
          padding: size(0);

          .icon {
            @include square(size(40));
            @include radius(10);
            @include flex-center;
            padding: size(12);
            @include transition($time ease);
          }

          .text {
            display: none;
          }
              
          @include hover {
            background: transparent;

            .icon {
              background: rgba($white, 0.2);

              svg {
                background: transparent;
              }
            }
          }
        }
      }
    }
  }
}

.mainsection {
  position: relative;
  @include w100;
}

/**=======================================================**
                    DASHBOARD-SIDEBAR END
**=======================================================**/