@use "../../global" as *;
@use "../../partials" as *;

// FRONT-END HEADER
.header {
  background: $headerbg;
  @include flex-center-vert;
  @include w100;
  height: size(64);

  &-nav {
    @include flex-center-between;

    .logo {
      width: size(136);
      height: size(44);
      @include flex-center;
      overflow: hidden;

      img {
        @include wh100;
        object-fit: cover;
      }
    }

    .desktoplist {
      @include list-horizontal;
      gap: size(24);

      &-link {
        color: $white;
        display: inline-block;
        @include font($secondaryFont, 14, bold, normal, 19.6);
        text-transform: uppercase;
        letter-spacing: size(0.48);
        @include transitionsall;

        &:hover:not(.active) {
          color: $primary;
        }

        &.active {
          color: $primary;
        }
      }
    }

    .btn-mobsearch {
      @include square(24);
      @include flex-center;
      overflow: hidden;

      svg {
        path {
          fill: $white;
          @include transitionsall;
        }
      }

      @include hover {
        svg {
          path {
            fill: $hamburgerbg;
          }
        }
      }
    }
  }
}

// DASHBOARD-HEADER
.dashboard-header {
  background: $headerbg;
  height: size(64);
  @include flex-center-vert;
  
  &-nav {
    @include flex-center-between;
    @include w100;
    padding-inline: size(20);

    .dashboard-dropdown {
      cursor: pointer;
      position: relative;
      min-height: size(64);
      padding-inline: size(20);
      @include flex-center;

      .dropdownlink {
        @include flex-center-vert;
        gap: size(7);

        .text {
          color: $white;
          @include font($primaryFont, 16, normal, normal, 22.4);
        }

        .icon {
          svg {
            @include transitiontransform;
          }
        }
      }

      .dropdown-info {
        position: absolute;
        top: 100%;
        left: size(-16);
        @include w100;
        padding-top: size(1);
        display: none;
        @extend %animation;
        @extend %slideUpIn;
        
        .dropdownlist {
          @include flex-column;
          gap: size(1);

          .dropdownlink {
            @include flex-center-vert;
            gap: size(10);
            @include radius(4);
            background: $dropdownbg;
            padding: size(10.95) size(15);
            @include transitionsall;

            .icon {
              @include square(18);
              @include flex-center;
              overflow: hidden;

              svg {
                @include wh100;
              }
            }

            .text {
              color: $white;
              @include font($primaryFont, 13, normal, normal, 18.2);
              letter-spacing: size(0.4);
            }

            @include hover {
              background: lighten($dropdownbg, 20%);
            }
          }
        }
      }

      @include hover {
        .dropdownlink {
          .arrowicon {
            svg {
              @include rotateX(180);
            }
          }
        }

        .dropdown-info {
          display: block;
        }
      }
    }

    .mynotifications {
      cursor: pointer;
      position: relative;
      min-height: size(64);
      padding-inline: size(20);
      @include flex-center;

      .notificationlink {
        @include square(32);
        @include flex-center;
        overflow: hidden;
  
        svg {
          @include wh100;
        }
      }

      &-info {
        position: absolute;
        top: 100%;
        right: size(0);
        @include w100;
        width: size(300);
        padding-top: size(1);
        display: none;
        @extend %animation;
        @extend %slideUpIn;
        
        .notificationlist {
          background: lighten($dropdownbg, 50%);
          @include list-vertical;
          gap: size(1);
          @include w100;
          max-height: size(244);
          overflow-x: hidden;
          overflow-y: scroll;

          &::-webkit-scrollbar {
            background: transparent;
            background: $dropdownbg;
            width: size(8);
          }
      
          &::-webkit-scrollbar-thumb {
            background: $hamburgerbg;
            @include radius(8);
            width: size(8);
          }

          &-link {
            @include flex-center-vert;
            gap: size(8);
            background: $dropdownbg;
            padding: size(10) size(15);
            @include transitionsall;

            .icon {
              @include square(40);
              @include flex-center;
              @include circle;
              overflow: hidden;

              svg {
                @include wh100;
                object-fit: cover;
              }
            }

            .textbox {
              width: calc(100% - size(48));
            }

            .text {
              color: $white;
              @include font($primaryFont, 13, normal, normal, 18.2);
              letter-spacing: size(0.4);
              @include line-clamp;
            }

            @include hover {
              background: lighten($dropdownbg, 20%);
            }
          }
        }

        .viewall {
          @include w100;
          height: size(40);
          @include flex-center;
          text-align: center;
          background: lighten($dropdownbg, 10%);

          &-link {
            color: $white;
            @include font($primaryFont, 13, normal, normal, 18.2);
            letter-spacing: size(0.4);
            @include transitionsall;

            @include hover {
              color: rgba($white, 0.75);
            }
          }
        }
      }

      @include hover {
        .mynotifications-info {
          @include flex-column;
        }
      }
    }
  }
}
